@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.sliderContainer {
  margin: 0 auto;
  width: 80vw;
  position: relative;
}

.slide {
  border: 2px solid blue;
  height: 40vh;
}

#left {
  position: absolute;
  top: 40%;
  right: -5vw;
  transform: rotate(270deg);
  font-family: "Overpass", sans-serif;
}

#right {
  position: absolute;
  top: 40%;
  left: -5vw;
  transform: rotate(90deg);

  font-family: "Overpass", sans-serif;
}
